.Container {
  text-align: center;
}

.Wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerWraper {
  width: 300px;
  display: flex;
  justify-content: space-between
}

